{% include "header.html" %}

            <!-- Header-->
            <header class="bg-dark py-5">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" style=" width:100%; height: 500px !important;">
                    <div class="carousel-item active">
                        <div class="container px-5">
                            <div class="row gx-5 align-items-center justify-content-center">
                                <div class="col-lg-8 col-xl-7 col-xxl-6">
                                    <div class="my-5 text-center text-xl-start">
                                        <h1 class="display-5 fw-bolder text-white mb-2">A Partnership-Driven Organization</h1>
                                        <p class="lead fw-normal text-white-50 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                                            <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container px-5">
                            <div class="row gx-5 align-items-center justify-content-center">
                                <div class="col-lg-8 col-xl-7 col-xxl-6">
                                    <div class="my-5 text-center text-xl-start">
                                        <h1 class="display-5 fw-bolder text-white mb-2">Creating Responsive Public Health Systems</h1>
                                        <p class="lead fw-normal text-white-50 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                                            <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container px-5">
                            <div class="row gx-5 align-items-center justify-content-center">
                                <div class="col-lg-8 col-xl-7 col-xxl-6">
                                    <div class="my-5 text-center text-xl-start">
                                        <h1 class="display-5 fw-bolder text-white mb-2">Health is a state of complete physical, mental and social well-being and not merely the absence of disease.</h1>
                                        <p class="lead fw-normal text-white-50 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                                            <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </header>

            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Who we are.</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">Our Vision</h2>
                                    <p class="mb-0">Our vision is to be the leading non-state advocacy, research, standards, training, certifications and public health implementation organisation in West Africa</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">Our Mission</h2>
                                    <p class="mb-0">To strengthen West Africa’s public health institutional and systems capability and provide knowledge to achieve better quality health coverage and outcomes for all.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Our Goal</h2>
                                    <p class="mb-0">West African Institute of Public Health recognizes the fact that to achieve an optimum public health system in the West African region, there is need to meet the short fall of health professionals across the countries in the region, as well as to strengthen the knowledge base around implementation science and research.</p>
                                </div>
                                <!-- <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Featured title</h2>
                                    <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus itaque iste, delectus eos architecto illo at nesciunt cum sequi quidem hic, quibusdam quam quisquam explicabo veritatis labore dolore quasi in."</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="fw-bold">
                                        Dr Francis Ohanyido
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Director-General, WAIPH
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Our 8 Pillars</h2>
                                <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">1</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Standards</h5></a>
                                    <p class="card-text mb-0">The design, development, and adoption of Common Core Public Health Standards (CCPHS) for training and professional certifications supported by the Council of Standards of the Strategic Advisory Board. The CCPHS are standards that set forth clear concepts that professionals need to know and meet up to ensure quality is met in the region.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">2</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Membership and Certification</h5></a>
                                    <p class="card-text mb-0">The Academy of Public Health of the Institute is a professional membership body that ensures that professionals gain core hands-on public health skills of their field of expertise and also certify and rank their professional experience, training and achievements through a credentialing process.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">3</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Programme Implementation</h5></a>
                                    <p class="card-text mb-0">The Institute undertakes subcontracts in projects and bids for open programme and projects in the public domain and also proposes programmes to donors in areas that will bear value to public health and health systems. It is thus open to work with critical partners to make this work and bring added value to collaborative platforms and consortia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">4</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Research</h5></a>
                                    <p class="card-text mb-0">Public Health Research aims to shed light on the influence of the determinants of health, i.e. factors (genetic, environmental, social, etc.) which determine population health. The objective is to use this knowledge to propose interventions and policies, based on scientific evidence, to help improve health and well-being, and reduce health inequalities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">5</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Consulting and Advisory Services</h5></a>
                                    <p class="card-text mb-0">The Institute situates itself as a prime consulting outfit and undertakes consultancies within its core competencies in the development of the health sector, through its pool of consultants within its membership roll. It takes pride in being adaptable to the changing landscape of public health consulting that meet the complex 21st century space and required competencies that are required for the health development landscape.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">6</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Training, Education and Competency</h5></a>
                                    <p class="card-text mb-0">The Institute undertakes to educate , reeducate and train health workforce in the art and science of preventing disease, prolonging life , promoting health and wellbeing and securing our world from threats through organized systems and efforts of society. The training given is to develop specific public health skills and understanding of innovations, whereas education in public health is focused at systematized learning to drive public health functions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">7</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Enabling Environment</h5></a>
                                    <p class="card-text mb-0">The Institute works with government and partners to strengthen enabling environments around key health issues and determinants through evidence – based advocacy, policy works, campaigns, and supporting relevant policies including legislations. This is because the Sustainable Development Goals (SDGs) launched at the start of 2015 to create a vision for "leaving no one behind" and, in doing so, call for reaching those who are furthest behind first is an important clasp for the work of the Institute in its approach to strengthening the enabling environment for public health programmes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">8</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Thematic areas</h5></a>
                                    <p class="card-text mb-0">Public Health Strategies , Knowledge Management for Health Services, Health Institutional Capacity Reengineering, Public Health Research, Data Analysis, Monitoring & Evaluation, Programme Evaluation, Data Collection, Health Information and Communication Design, Health Surveys, Report Writing, Proposal Writing, Technical Assistance, Training, Health Programmes Design, Literature Reviews, Health Systems Research, Implementation Science, and Health Systems Strengthening and Health Project Management.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Call to action-->
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">News and updates, delivered to you.</div>
                                <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                                    <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                                </div>
                                <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                            </div>
                        </div>
                    </aside>
                </div>
            </section>
        </main>
       
        
{% include "footer.html" %}