{% include "header.html" %}

            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mb-5">
                                <h1 class="fw-bolder">ACHIEVE Campaign Partnership with White Ribbon Alliance Nigeria</h1>
                                <p class="lead fw-normal text-muted mb-0">The Advocacy for Community Health Insurance and Enabling Environment for Health Financing and Evidenc(ACHEIVE) campaingn is carried out by the  Institute’s Academy of Public Health in collaboration with White Ribbon Alliance Nigeria.  A 5 day training 
                                    workshop on sustainable Health financing and advocacy was done in Plateau State. Its target is to enhance the capacity
                                    of CSOs and the Media in Plateau State to improve health services by ensuring proper implementation of health 
                                    policies in healthcare centers at State and Local Government levels.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="https://dummyimage.com/1300x700/343a40/6c757d" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mb-5">
                                <p class="lead fw-normal text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam deserunt architecto enim eos accusantium fugit recusandae illo iste dignissimos possimus facere ducimus odit voluptatibus exercitationem, ex laudantium illum voluptatum corporis.</p>
                                <!-- <a class="text-decoration-none" href="#!">
                                    View project
                                    <i class="bi-arrow-right"></i>
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        {% include "footer.html" %}